//## Buttons

button {
  appearance: none;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}

.ui {
  width: 44px;
  height: 44px;
  text-indent: -9999px;
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.close {
  background-image: url(../assets/icons/close.svg);
}