<template>
  <article class="post">
    <img src="../../../assets/images/logo.svg" alt="B66" class="post__logo">
    <h2 class="u-color-primary">{{ headline }}</h2>
    <div class="copy" v-html="copy"></div>
  </article>
</template>

<script>
export default {
  name: 'AboutArticle',
  props: {
    headline: String,
    copy: String
  }
}
</script>

<style lang="scss">
  @import '../../../styles/variables';
  @import '../../../styles/mixins';

  .post {
    max-width: 700px;
    margin: 0 auto 40px;
    padding: 40px 0 0;

    &__logo {
      max-width: 120px;
      margin-bottom: 20px;

      @include breakpoint(xs) { 
        margin-bottom: 60px;
      }      
    }
  }
</style>


