<template>
  <about-article :headline="headline" :copy="copy"></about-article>
</template>

<script>
import AboutArticle from './AboutArticle'

export default {
  name: 'About',
  data() {
    return {
      headline: 'The mortgage industry is ripe for disruption.',
      copy: '<p>It is not only expensive and time-consuming, but the technology which underpins it is outdated. By utilizing Blockchain technology, Block66 improves mortgage cost, efficiency and transparency. The Block66 platform uproots the entire mortgage industry, replacing it with the loan-ecosystem of tomorrow.</p>'
    }
  },
  components: {
    AboutArticle
  }
}
</script>

