<template>
  <section class="home">    
    <div class="container">      
      <count-down :title="title" deadline="2018-05-21 12:00:00"></count-down>    
      <home-copy :headline="copy"></home-copy>
      <news-letter action="http://b66.apphuee.com/mailchimp/submit.php"></news-letter>
      <app-footer></app-footer>
    </div>
    <div class="home-background"></div>
  </section>
</template>

<script>
import { TweenLite } from 'gsap'
import CountDown from '../../common/CountDown'
import NewsLetter from '../../newsletter/Newsletter'
import AppFooter from '../../common/AppFooter.vue'
import HomeCopy from './HomeCopy'

export default {
  name: 'Home',
  data() {
    return {
      title: 'We start in:',
      copy: '<p>We’re working hard on building our new mortgage platform, powered by blockchain technology.<br>If you would like to learn more about our Token Generation Event, sign up for our newsletter.<br>We will be in touch very soon...</p>'
    }
  },
  components: {
    CountDown,
    HomeCopy,
    NewsLetter,
    AppFooter
  },
  methods: {
    fadeInUp (e, delayTime) {
      TweenLite.from(e, 1, { 
        delay: delayTime, 
        opacity: 0, 
        y: '33%',
        ease: Back.easeOut.config(2)
      });
    },
    fadeIn (e, delayTime) {
      TweenLite.from(e, 1.5, { 
        delay: delayTime, 
        opacity: 0        
      });
    },
    mouseMove: function(event) {
      let x = event.touches ? event.touches[0].clientX : event.clientX;
      let y = event.touches ? event.touches[0].clientY : event.clientY;
      let w = window.innerWidth / 2;
      let h = window.innerHeight / 2;
      let t = -(y - h) / (h / 5);
      let l = -(x - w) / (w / 5);
    
      TweenMax.to('.home-background', 1, {
          y: t + '%',
          x: l + '%',
          force3D: true
      });
    }
  },
  mounted () {
    const background = this.$el.querySelector('.home-background');
    const newsletter = this.$el.querySelector('.newsletter');
    const elements = this.$el.querySelectorAll('.countdown-wrapper, .intro-copy, .app-footer');
    elements.forEach( (element, index) => {
      this.fadeInUp(element, index * 0.2);
    });

    this.fadeIn(background, 1.5);
    this.fadeIn(newsletter, .5);

    window.addEventListener('mousemove', this.mouseMove);
    window.addEventListener('touchstart', this.mouseMove);
    window.addEventListener('touchend', this.mouseMove);    
  }
}
</script>

<style lang="scss">
@import '../../../styles/variables';
@import '../../../styles/mixins';

.home {
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto;
  padding: 120px 0;
  text-align: left;
  z-index: 1;
  position: relative;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);    

  @include breakpoint(xs) {
    text-align: center;
  }
}

.home-background {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: url('../../../assets/images/bg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  z-index: -1;  
}
</style>

