<template>
  <div class="newsletter-wrapper">
    <form :action="action" class="newsletter" ref="form" v-on:submit.prevent="validateBeforeSubmit">
      <div class="form-group">
        <input
          type="text"
          name="FNAME"
          v-bind:placeholder="name"
          v-validate="'required|alpha_spaces'"
          v-model="user.name" :data-vv-as="name"
          class="newsletter__name"
          >
        <transition name="fade">
          <span class="validation-error error" v-if="errors.has('FNAME')">{{errors.first('FNAME')}}</span>
        </transition>          
      </div>

      <div class="form-group">
        <input
          type="email"
          name="EMAIL"
          v-bind:placeholder="email"
          v-validate="'required|email'"
          v-model="user.email" data-vv-as="email"
          class="newsletter__email"
        >
        <transition name="fade">
          <span class="validation-error error" v-if="errors.has('EMAIL')">{{errors.first('EMAIL')}}</span>
        </transition>
      </div>      

      <button type="submit" name="subscribe" class="newsletter__submit" v-bind:disabled="errors.any()">
        {{ submit }}
      </button>      
    </form>

    <transition name="fade">
      <div v-show="isSubmited" ref="status" class="status">
        <div class="status__body">{{ statusMessage }}</div>
      </div>
    </transition>
  </div>
</template>

<script>
import axios from 'axios';
import { TweenLite } from 'gsap'
import util from '../../scripts/utilities'

export default {
  name: 'NewsLetter',
  props: {
    action: {
      type: String,
      required: true
    },
    name: {
      type: String,
      default: 'First name*'
    },
    email: {
      type: String,
      default: 'Email address*'
    },
    submit: {
      type: String,
      default: 'Sign Up'
    }        
  },
  data: () => ({
    statusMessage: '',
    messages: {    
      pending: 'Success! Please click the confirmation link that will be emailed to you shortly.',
      subscribed: 'We got you on the list!'
    },    
    user: {
      name: '',
      email: ''
    },
    isSubmited: false
  }),
  methods: {

    validateBeforeSubmit (event) {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.subscribeRequest();
          return;
        }
      });
    },    

    subscribeRequest () {
      let data = util.serialize(this.$refs.form);
      let config = {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded'
        }
      };      
      axios.post(this.action, data, config)
        .then( (response) => {
          if (response.data.status === 'pending') {            
            this.successHandler(this.messages.pending)
          } else if (response.data.status === 'subscribed') {
            this.successHandler(this.messages.subscribed)
          } else {            
            this.errorHandler(this.replaceString(response.data.detail, 'Use PUT to insert or update list members.', ''));
          }
        })
        .catch( (error) => {
          this.errorHandler(error.response.statusText);
        });
    },

    successHandler (message) {
      if(!message) {
        return
      }      
      this.animateForm();
      this.statusMessage = message;
    },

    errorHandler (message) {
      if(!message) {
        return
      }
      this.statusMessage = message;
      this.animateForm(true);
    },

    animateForm (toggle = false) {
      let form = this.$refs.form;
      if(toggle) {
        let tl = new TimelineLite();
        tl.to(form, .5, {
          delay: 0,
          y: 10,
          opacity: 0,
          onComplete: this.submited,
        });        
        tl.to(form, 0, {
          delay: 2,
          y: -10,
          onComplete: this.submited
        });
        tl.to(form, .5, {
          delay: .5,
          y: 0,
          opacity: 1
        });
        return        
      }

      TweenLite.to(form, .3, { 
        y: 10,
        opacity: 0,
        onComplete: this.submited
      });
    },

    resetForm () {
      this.$refs.form.reset()
      this.user.name = ''
      this.user.email = ''      
    },

    submited () {
      this.isSubmited = !this.isSubmited;
      this.resetForm();
    },

    replaceString (input, string, value) {
      return input.replace(string, value);
    }
  }
}
</script>

<style lang="scss">
  @import '../../styles/variables';
  @import '../../styles/mixins';

  .newsletter-wrapper {
    position: relative;
  }

  .newsletter {
    padding: 0;
    margin: 40px 0 40px;
    @include flexbox;
    @include justify-content(flex-start);
    @include flex-wrap(wrap);

    @include breakpoint(xs) {
      padding: 0 10%;
      @include justify-content(center);
    }

    &__name,
    &__email {
      background-color: $default;
      color: $gray;

      &:focus {
        outline: none;
      }
    }    

    &__name,
    &__email,
    &__submit {
      font-size: $font-size-sm;
      width: 100%;      
      border: 0;      
      border-radius: 0;
      padding: 0 10px;
      margin: 0 0 20px;
      height: 48px;
      text-align: center;
      margin-bottom: 10px;
      appearance: none;      
    }

    &__submit {      
      color: $default;
      position: relative;
      background-color: $tertiary;
      max-width: 120px;
      margin: 10px 16px 0 0;
      @include transition(background-color .3s ease);
      @include flex(1);     

      @include breakpoint(xs) {
        margin: 0 5px;
      }
      
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 24px 0 24px 16px;
        border-color: transparent transparent transparent $tertiary;
        position: absolute;
        top: 0;
        left: 100%;
        @include transition(border-color .3s ease);
      }

      &:disabled {
        cursor: not-allowed;
      }

      &:not(:disabled) {

        &:hover {
          background-color: $primary;
          color: $default;

          &::after {
            border-color: transparent transparent transparent $primary;
          }
        }
      }    
    }
  }

  .form-group {
    width: 100%;
    position: relative;

    @include breakpoint(xs) {
      margin: 0 5px;
      @include flex(1.5);
    }      
  }
  
  .status {
    position: absolute;
    text-align: center;
    padding: 10px 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: 480px;

    &__body {
      font-size: $font-size-base * 1.125;
      line-height: 1.45;
    }
  } 

  .validation-error {
    font-size: $font-size-xs;
    text-align: left;
    line-height: 1.2;
    display: block;
    margin-bottom: 10px;    

    @include breakpoint(xs) {
      position: absolute;
      top: 100%;
      left: 0;      
    }
  }  
</style>


