* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: $secondary;
  color: $default;
}

#app {
  padding: 0 5%;
}

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;  
}

.content {}

::placeholder {
  color: $gray;
  opacity: 1;
}
:-ms-input-placeholder {
  color: $gray;
}
::-ms-input-placeholder {
  color: $gray;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

