//## Typography
$headline-margin: 0 0 40px;
$paragraph-margin: 0 0 25px;

body {
    font-family: $font-regular;
    font-size: $font-size-base;
    line-height: 1.8;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $font-headline;
	margin: $headline-margin;
}

h1, .h1 { font-size: $h1 / 1.8; line-height: 1; }
h2, .h2 { font-size: $h2 / 1.6; line-height: 1.2; }
h3, .h3 { font-size: $h3; line-height: 1.2; }
h4, .h4 { font-size: $h4; line-height: 1.2; }
h5, .h5 { font-size: $h5; line-height: 1.4; }
h6, .h6 { font-size: $h6; line-height: 1.4; }

@include breakpoint(xs) {
    h1, .h1 { font-size: $h1; }
    h2, .h2 { font-size: $h2; }
}

p {
    margin: $paragraph-margin;

    &:last-child {
    	margin: 0;
    }
}

.copy {
    font-size: $copy / 1.4;
    letter-spacing: .5px;

    @include breakpoint(xs) {
        font-size: $copy;
    }    
}
