//** Colors
$default: 	    #fff;
$primary: 	    #4ed18c;
$secondary:     #004cd3;
$tertiary:      #a850d2;
$gray:          #333;


//** Layout
$base-padding:   8px;

//** Typography
$font-regular:   'Archivo', sans-serif;
$font-headline:  'Archivo Black', sans-serif;

$font-size-base: 16px;
$font-size-sm: 	 14px;
$font-size-xs: 	 12px;
$h1: 72px;
$h2: 36px;
$h3: 30px;
$h4: 28px;
$h5: 24px;
$h6: 22px;
$copy:  22px;

//** Layout
$max-width: 1024px;

//** UI
$border-radius-base: 4px;

//-- Button