<template>  
    <div class="content">
      <keep-alive>
        <transition name="fade">
          <router-view></router-view>
        </transition>
      </keep-alive>
    </div>  
</template>

<script>
  export default {
    name: 'Main'
  }
</script>
