<template>
    <footer class="app-footer">
      <ul class="social">
        <li v-for="link in links" :key="link.id">
          <a :href="link.url" target="_blank" class="social__link">
            <font-awesome-icon :icon="link.icon"/>
          </a>
        </li>
      </ul>
    </footer>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import facebook from '@fortawesome/fontawesome-free-brands/faFacebook'
import twitter from '@fortawesome/fontawesome-free-brands/faTwitter'
import instagram from '@fortawesome/fontawesome-free-brands/faInstagram'
import linkedin from '@fortawesome/fontawesome-free-brands/faLinkedin'
import reddit from '@fortawesome/fontawesome-free-brands/faRedditSquare'
import youtube from '@fortawesome/fontawesome-free-brands/faYoutube'
import medium from '@fortawesome/fontawesome-free-brands/faMediumM'
import googleplus from '@fortawesome/fontawesome-free-brands/faGooglePlusG'
import telegram from '@fortawesome/fontawesome-free-brands/faTelegramPlane'

 
export default {
  name: 'AppFooter',
  data () {
    return {
      links: {
        facebook: {
          icon: facebook,
          url: 'https://www.facebook.com/Block66Official'
        },
        twitter: {
          icon: twitter,
          url: 'https://twitter.com/Block66official'          
        },
        // instagram: {
        //   icon: instagram,
        //   url: 'https://www.instagram.com/block66_official/'
        // },
        linkedin: {
          icon: linkedin,
          url: 'https://www.linkedin.com/in/block-sixtysix-a77716161/'          
        },
        reddit: {
          icon: reddit,
          url: 'https://www.reddit.com/user/Block66/'
        },
        youtube: {
          icon: youtube,
          url: 'https://www.youtube.com/channel/UCHBDzsJ5aKcYr02lrDVxoag?view_as=subscriber'
        },
        medium: {
          icon: medium,
          url: 'https://medium.com/@block66info'
        },
        // googleplus: {
        //   icon: googleplus,
        //   url: 'https://plus.google.com/u/0/discover'          
        // },
        telegram: {
          icon: telegram,
          url: 'https://t.me/block66official'
        }        
      }
    }
  },
  components: {
    FontAwesomeIcon
  }
}
</script>

<style lang="scss">
  @import '../../styles/variables';
  @import '../../styles/mixins';

  .app-footer {
    position: relative;
    z-index: 1;
  }

  .social {
    padding: 0;
    list-style-type: none;
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);

    &__link {
      color: $default;
      display: inline-block;
      margin: 5px 15px;
    }
  }
</style>


