<template>
  <header class="app-header">
    <transition name="fade">
      <div v-if="['home'].indexOf($route.name) > -1" class="app-header-wrapper">
        <div class="brand-wrapper">
          <router-link :to="{ name: 'home' }">
            <img src="../../assets/images/logo.svg" alt="B66" class="brand-logo">
          </router-link>          
        </div>
        <nav-bar></nav-bar>
      </div>

      <back-home v-else></back-home>
    </transition>
  </header>
</template>

<script>
import NavBar from './NavBar.vue'
import BackHome from './BackHome.vue'

export default {
  name: 'AppHeader',
  components: {
      NavBar,
      BackHome
  }
}
</script>

<style lang="scss">
@import '../../styles/variables';
@import '../../styles/mixins';

.app-header {
  width: 100%;
  padding: 0 5%;
  max-width: $max-width;
  height: 120px;
  margin: 0 auto;
  z-index: 9;
  position: absolute;
  left: 0;
  right: 0;
  @include flexbox;
  @include align-items(center);
}

.app-header-wrapper {
  width: 100%;
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);  
}

.brand-logo {
  display: block;
  width: 100%;
  max-width: 72px;
}
</style>


