<template>
  <nav class="navbar">
    <router-link role="button" class="ui close back-home" :to="{ name: 'home' }">
      <span>Close</span>
    </router-link>
  </nav>
</template>

<script>
  export default {
    name: 'BackHome'
  }
</script>

<style lang="scss">
.back-home {
  position: fixed;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  background-size: 28px;
}
</style>
