<template>
	<div class="countdown-wrapper">
		<h3 class="h1 countdown-headline">			
			<span v-if="infinite === true">Start soon</span>
			<span class="h1" v-else-if="runTimer === false">Expired</span>
			<span v-else>{{ title }}</span>
		</h3>
		<!-- <div v-if="loaded === true" class="countdown"> -->
    <div class="countdown">
      <div class="unit days">				
        <span class="unit__value">{{ days }}</span>
        <span class="unit__label" >{{ dayOrDays( days ) }}</span>
      </div>
			<div class="unit">
				<span class="unit__value">{{ hours }}</span>
				<span class="unit__label">hrs</span>
			</div>
			<div class="unit">
				<span class="unit__value">{{ minutes }}</span>
				<span class="unit__label">mins</span>
			</div>
			<div class="unit">
				<span class="unit__value">{{ seconds }}</span>
				<span class="unit__label">secs</span>
			</div>
		</div>
	</div>
</template>

<script>
  import { TweenLite } from 'gsap';

	export default {
    name: 'CountDown',
		props: ['deadline', 'title'],
		data() {
			return {
				infinite: false,
				loaded: false,
				timer: '',
        runTimer: true,        
        days: '00',
				hours: '00',
				minutes: '00',
				seconds: '00',
			};
		},
		mounted() {
      const vm = this;
      // const units = this.$el.querySelectorAll('.unit');      
      // vm.fadeIn(units);

			if ( vm.deadline ) {
				vm.initializeClock( vm.deadline );
			} else {
				vm.infinite = true;
        vm.loaded = true;        
      }      
		},
		methods: {
			/**
			 * Converts a UTC time to days, hours, minutes and seconds for countdown.
			 *
			 * @param {string} eventDate Date in YYYY-MM-DD HH:MM:SS format in UTC.
			 * @return {{days, hours, minutes, seconds}}
			 */
			getCountdownValues: function( eventDate ) {
				let currentTimeStamp, now, parseDate, timeDifference, convertMilliseconds;
				now = new Date();
				parseDate = function( eDate ) {
					let eventDateParts = eDate.split( /\D/ ),
						dateParts = [], date, i;
					for ( i = 0; i <= eventDateParts.length; i++ ) {
						dateParts[ i ] = parseInt( eventDateParts[ i ], 10 );
					}
					date = new Date( Date.UTC( dateParts[0], dateParts[1] - 1, dateParts[2], dateParts[3], dateParts[4], dateParts[5] ) );
					return date.valueOf();
        };
        
				currentTimeStamp = ( new Date( Date.UTC ( now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate(), now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds(), now.getUTCMilliseconds() ) ) ).valueOf();
				convertMilliseconds = function( ms ) {
					let d, h, m, s, padNumber;
					s = Math.floor( ms / 1000 );
					m = Math.floor( s / 60 );
					h = Math.floor( m / 60 );
					d = Math.floor( h / 24 );
					padNumber = function( n ) {
						return n < 10 ? '0' + String( n ) : n;
					};
					return {
						total: ms,
						days: d,
						hours: padNumber( h % 24 ),
						minutes: padNumber( m % 60 ),
						seconds: padNumber( s % 60 ),
					};
				};
				timeDifference = parseDate( eventDate ) - currentTimeStamp;
				return convertMilliseconds( timeDifference );
			},
			initializeClock: function() {                
				this.timer = setInterval(() => {
					let diff = this.getCountdownValues( this.deadline );
					this.days = diff.days;
					this.hours = diff.hours;
					this.minutes = diff.minutes;
          this.seconds = diff.seconds;

          this.loaded = true;
                    
					if ( 0 >= diff.total ) {
						this.runTimer = false;
						clearInterval( this.timer );
          }                  

        }, 1000 );
			},
			dayOrDays: function( number ) {
				if ( 1 < parseInt( number, 10 ) ) {
					return 'days';
				} else {
					return 'day';
				}
      },      
      fadeIn (elements) {
        let tl = new TimelineLite();

        elements.forEach( (element, index) => {
          tl.from(element, 0.25, {delay: .1, y: 10, opacity: 0});
        });
      }
    }
	};
</script>

<style lang="scss">
@import '../../styles/variables';
@import '../../styles/mixins';

.countdown-headline {
	margin: 0;
}

.countdown {
  @include flexbox; 
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  margin: 40px 0 10px;

  @include breakpoint(xs) {
    margin: 40px 0 40px;
    @include justify-content(center);
  }  
}

.unit {
  margin-bottom: 10px;
  color: $primary;
  @include flexbox;
  @include align-items(flex-end);

  &__value,
  &__label {	
	  font-size: $h2;
    line-height: 1;
    margin: 0;
  }

  &__value {
    font-family: $font-headline;
  }

  &__label {
    font-weight: 400;
    padding: 0 1vw;
  }

  &.days {
    color: $default;
    margin-right: 2vw;
  }
}
</style>

