<template>
  <nav class="navbar">
    <router-link class="navbar__link" :to="{ name: 'about' }">Learn about Block66</router-link>
  </nav>
</template>

<script>
  export default {
    name: 'Nav'
  }
</script>

<style lang="scss">
@import '../../styles/variables';
@import '../../styles/mixins';

.navbar {

  &__link {
    color: $primary;  
    text-decoration: none;
    @include transition(color .3s ease);

    &:hover {
      color: $default;      
    }
  }
}
</style>

