<template>
  <div id="app">
    <app-header></app-header>    
    <router-view></router-view>    
  </div>
</template>

<script>
import './styles/style.scss'
import AppHeader from './components/common/AppHeader.vue'
import { TweenLite } from 'gsap'

export default {
  name: 'app',
  components: {
    AppHeader
  },
  methods: {
    fadeInDown (e, delayTime) {
      TweenLite.from(e, 1, { 
        delay: delayTime, 
        opacity: 0, 
        y: '-33%',
        ease: Back.easeOut.config(2)
      });
    }
  },
  mounted () {
    const header = this.$el.querySelector('.app-header');
    this.fadeInDown(header, 1);
  }  
}
</script>

